[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
python-multipart = "*"
onnxruntime = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
pydantic = "*"
pillow = "*"
imagehash = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
flask-sqlalchemy = "*"
pinecone-client = "*"
google-cloud-storage = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
